<div class="alert alert-info" role="alert"> We are open on Christmas Eve, Christmas Day, New Year's Eve, and New Year's Day. See regular hours.</div>

<div id="carousel" class = "carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel" data-slide-to="0" class ="active"></li>
		<li data-target="#carousel" data-slide-to="1"></li>
		<li data-target="#carousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role ="listbox">
		<div class="item active">
			<%= image_tag "ss_ck.jpg", :class=> "img-responsive center-block", :width => 660%>
			<div class="carousel-caption">
				<h1><%= link_to("Lunch Specials", {:controller => "menu", :action => "show", :id => 13}, :class=>"shadow_h" ) %></h1>
				<p class ="shadow_p">Served with barbecued pork fried rice and an egg roll. Everyday before 3:00 PM.</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag "smoothie.jpg", :class=> "img-responsive center-block", :width => 660%>
			<div class="carousel-caption">
				<h1><%= link_to("Smoothies", {:controller => "menu", :action => "show", :id => 15}, :class=>"shadow_h" ) %></h1>
				<p class ="shadow_p">Choose between banana, strawberry, watermelon, mango, pineapple, or piña colada</p>
			</div>
		</div><div class="item">
			<%= image_tag "m_beef.jpg", :class=> "img-responsive center-block", :width => 660%>
			<div class="carousel-caption">
				<h1><%= link_to("Mongolian Beef", {:controller => "menu", :action => "show", :id => 4}, :class=>"shadow_h") %></h1>
				<p class ="shadow_p">Served with rice</p>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#carousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>
<br>
<div class="container">
	<div class="col-xs-6"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2956.775966456881!2d-88.3270867!3d42.176473500000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880f1279bafaed6d%3A0xfc66de5958306913!2s2106+W+Algonquin+Rd%2C+Lake+in+the+Hills%2C+IL+60156!5e0!3m2!1sen!2sus!4v1434668931004" width="572" height="480" frameborder="0" style="border:0"></iframe> 
	</div>
	<div class="col-xs-6">
		<h1 class="text-center"><%= @restaurant %></h1>
		<h3 class="text-center"><%= simple_format("#{@address['street']}\n#{@address['city']}, #{@address['state']} #{@address['zip']}")%></h3>
		<h3 class="text-center"><%= @phone %></h3><br>

		<table class="table text-center">
			<% if @day == 0 %>
				<tr class="active">
			<% else %>
				<tr>
			<% end %>
				<td>
					Sunday
				</td>
				<td>
					<%= @hours['sunday']['start']%>
				</td>
				<td>
					<%= @hours['sunday']['end']%>
				</td>
			</tr>
			<% if @day == 1 %>
				<tr class="active">
			<% else %>
				<tr>
			<% end %>
				<td>
					Monday
				</td>
				<td>
					<%= @hours['monday']['start']%>
				</td>
				<td>
					<%= @hours['monday']['end']%>
				</td>
			</tr>
			<% if @day == 2 %>
				<tr class="active">
			<% else %>
				<tr>
			<% end %>
				<td>
					Tuesday
				</td>
				<td>
					<%= @hours['tuesday']['start']%>
				</td>
				<td>
					<%= @hours['tuesday']['end']%>
				</td>
			</tr>
			<% if @day == 3 %>
				<tr class="active">
			<% else %>
				<tr>
			<% end %>
				<td>
					Wednesday
				</td>
				<td>
					<%= @hours['wednesday']['start']%>
				</td>
				<td>
					<%= @hours['wednesday']['end']%>
				</td>
			</tr>
			<% if @day == 4 %>
				<tr class="active">
			<% else %>
				<tr>
			<% end %>
				<td>
					Thursday
				</td>
				<td>
					<%= @hours['thursday']['start']%>
				</td>
				<td>
					<%= @hours['thursday']['end']%>
				</td>
			</tr>
			<% if @day == 5 %>
				<tr class="active">
			<% else %>
				<tr>
			<% end %>
				<td>
					Friday
				</td>
				<td>
					<%= @hours['friday']['start']%>
				</td>
				<td>
					<%= @hours['friday']['end']%>
				</td>
			</tr>
			<% if @day == 6 %>
				<tr class="active">
			<% else %>
				<tr>
			<% end %>
				<td>
					Saturday
				</td>
				<td>
					<%= @hours['saturday']['start']%>
				</td>
				<td>
					<%= @hours['saturday']['end']%>
				</td>
			</tr>
		</table>
	
	</div>
</div>
